<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833726124812-sao6qoit6g1tr0lmj49r4t7ffb3q0ca3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833726124812-sao6qoit6g1tr0lmj49r4t7ffb3q0ca3</string>
	<key>API_KEY</key>
	<string>AIzaSyA60o8coFUOtvf6a9JwvUKOVWP6zFg8ar4</string>
	<key>GCM_SENDER_ID</key>
	<string>833726124812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.thienanltd.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-de568</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-de568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833726124812:ios:53fe7ceb73b35db2832f29</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-de568.firebaseio.com</string>
</dict>
</plist>